<html>
<head>
  <link href='/css/style.css' rel='stylesheet'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>
  <div id='degrees'><span id='temperature'>20</span> ℃</div>
  <br>
  <div id='thermostat'> </div>
  <div id='graph'>
    <ul>
      <li>35</li>
      <br>
      <br>
      <li>30</li>
      <br>
      <br>
      <li>25</li>
      <br>
      <br>
      <li>20</li>
      <br>
      <br>
      <li>15</li>
      <br>
      <br>
      <li>10</li>
    </ul>
  <div>

  <div id='thermo-buttons'>
    <input id='up' type='submit' value='&#8593;'>
    <input id='down' type='button' value='&#8595;'>
  </div>


  <script src='js/src/weather.js'></script>
  <script src='js/src/Thermostat.js'></script>
  <script src='js/src/button.js'></script>
</body>
</html>

