<html>
<head>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link href='/css/style.css' rel='stylesheet'>

</head>
<body>
  <div id='degrees'><span id='temperature'>20</span> ℃</div>
  <input id='up' type='button' value='&#8593;'>
  <input id='down' type='button' value='&#8595;'>

  <script src='js/src/Thermostat.js'></script>
  <script src='js/src/button.js'></script>
</body>
</html>

